@font-face { 
  font-family: youngseifRegular; 
			 src: url("./assets/fonts/YoungSerif-Regular.ttf"); } 



.decision-button {
  margin:70px;
  background:white;
  color:black;
  border:none;
  font-family: youngseifRegular;
  font-size:50px;

   box-shadow: 0 0 0 4pt black;
  border-radius:90%;
  width:45%;
  cursor:pointer;
  
  
}
#top-logo {
  
  position:fixed;
  width:120px;
  top: 50px;
  left: 150px;
    @media (max-width: 760px) {
      left: 50px;
      width:80px;
      top: 30px;
  }
}
