@font-face { 
  font-family: youngseifRegular; 
			 src: url("./assets/fonts/YoungSerif-Regular.ttf"); } 



.decision-button {
  margin:70px;
  background:white;
  color:black;
  border:none;
  font-family: youngseifRegular;
  font-size:50px;

   box-shadow: 0 0 0 4pt black;
  border-radius:90%;
  width:45%;
  cursor:pointer;
  
  
}

.topRightXButton{
    position:absolute;
    top:20px;
    right: 10%;
    font-size : 30px;
    color:black;
    border:5px solid black;
    border-radius: 100px;
    padding:0;
    width:60px;
    height:60px;
    font-weight:bold;
    background:white;
    cursor:pointer;
    z-index:10000;

    @media (max-width: 760px) {
        right: 20px;
  
    }
}

 .topRightXButton_topRight {
    position:absolute;
    top:20px;
    right: 20px;
    font-size : 30px;
    color:black;
    border:5px solid black;
    border-radius: 100px;
    padding:0;
    width:60px;
    height:60px;
    font-weight:bold;
    background:white;
    cursor:pointer;
    z-index:10000;

  }

#top-logo {
  
  position:fixed;
  width:120px;
  top: 50px;
  left: 150px;
    @media (max-width: 760px) {
      left: 50px;
      width:80px;
      top: 30px;
  }
}
