.avatarContainer {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
#hat {
	z-index: 5;
}
#eye {
	z-index: 4;
}
#base {
	z-index: 3;
}
.layer {
	position: absolute;
	inset: 0;
	background: transparent;

	width: 100%;
	height: 100%;

	object-fit: contain;

	display: block;
}

.colorOverlay {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;

	pointer-events: none;
	mix-blend-mode: color;
	z-index: 20;
}
